* {
  font-size: 1vw;
  text-align: center;
  margins: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 41, 41);
  position: relative;
}

.main_content_box {
  background-color: rgb(189, 189, 189);
  border: 0.45vw solid rgb(41, 41, 41);
  padding: 0px;
}

h1 {
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* -----------------Top Portion------------------ */

.big_box_top {
  height: calc(98.9vh*0.2);
  width: 99.5vw;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0.3vh;
  position: relative;
}

/* -----------------SECTION 1------------------ */

#MCB1 {
  height: calc(98.9vh*0.2*0.6);
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  position: absolute;
  top:0px;
  left:0px;
  width: calc(99.5vw*0.17);
}

#MCB1 #account_name,#MCB1 #version_num,#MCB1 #license,#MCB1 #time {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: calc(99.5vw*0.17);
  margin: 2px 5px 2px 0px;
  padding-top: 4px 0px 4px 0px;
  text-align: center;
}
#MCB1 #account_name{
  height: calc(98.9vh*0.2*0.6*.32);
}
#MCB1 #version_num {
  height: calc(98.9vh*0.2*0.6*.2);
  font-size: 0.85vw;
}
#MCB1 #license {
  height: calc(98.9vh*0.2*0.6*.2);
  font-size: 0.85vw;
}
#MCB1 #time {
  height: calc(98.9vh*0.2*0.6*.2);
  font-size: 0.85vw;
}

/* -----------------SECTION 2------------------ */

#MCB2 {
  height: calc(98.9vh*0.2*0.4);
  border-right: 0px solid black;
  clear: left;
  position: absolute;
  left:0px;
  bottom:0px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: calc(99.5vw*0.17);
}
#MCB2 #current_feed {
  height: calc(98.9vh*0.2*0.4*.3);
}
#MCB2 #feed_hover_message {
  position: relative;
  bottom: 10%;
  text-align: center;
}

/* -----------------SECTION 3------------------ */

#MCB3 {
  height: calc(98.9vh*0.2);
  position: absolute;
  right: 0px;
  top: 0px;
  width: calc(99.5vw*0.83);
}
#MCB3 #study_tile {
  width: calc(99.5vw*0.83*.95);
  height: calc(98.9vh*0.2*0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(98.9vh*0.2*0.05);
  color: rgb(194, 194, 194);
  background-color: rgb(30, 31, 30);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
#MCB3 #study_tile div {
  border: 1px solid white;
}
#MCB3 #study_tile #study_name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(99.5vw*0.83*.95*0.5);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #study_author {
  position: absolute;
  top: 0px;
  left: calc(99.5vw*0.83*.95*0.5);
  width: calc(99.5vw*0.83*.95*0.25);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #study_journal {
  position: absolute;
  top: 0px;
  left: calc(99.5vw*0.83*.95*0.75);
  width: calc(99.5vw*0.83*.95*0.125);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #study_date {
  position: absolute;
  top: 0px;
  left: calc(99.5vw*0.83*.95*0.875);
  width: calc(99.5vw*0.83*.95*0.125);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #toggle_bar {
  position: absolute;
  top: calc(98.9vh*0.2*0.8*0.2);
  left: 0px;
  width: calc(99.5vw*0.83*.95*0.05);
  height: calc(98.9vh*0.2*0.8*0.6);
}
#MCB3 #study_tile #study_abstract {
  position: absolute;
  top: calc(98.9vh*0.2*0.8*0.2);
  left: calc(99.5vw*0.83*.95*0.05);;
  width: calc(99.5vw*0.83*.95*0.95);
  height: calc(98.9vh*0.2*0.8*0.6);
}
#MCB3 #study_tile #study_data {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(99.5vw*0.83*.95*0.5);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #study_other {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: calc(99.5vw*0.83*.95*0.5);
  height: calc(98.9vh*0.2*0.8*0.2);
}
#MCB3 #study_tile #check_box {
  position: absolute;
  top: calc(98.9vh*0.2*0.8*0.3);
  bottom: calc(98.9vh*0.2*0.8*0.3);
  right: calc(99.5vw*0.83*.95*0.3);
  left: calc(99.5vw*0.83*.95*0.3);
  width: calc(99.5vw*0.83*.95*0.4);
  height: calc(98.9vh*0.2*0.8*0.4);
}
#MCB3 #study_tile #check {
  position: absolute;
  left: 0px;
  width: calc(99.5vw*0.83*.95*0.4*0.5);
  height: calc(98.9vh*0.2*0.8*0.4);
}
#MCB3 #study_tile #not_check {
  position: absolute;
  right: 0px;
  width: calc(99.5vw*0.83*.95*0.4*0.5);
  height: calc(98.9vh*0.2*0.8*0.4);
}

/* -----------------Bottom Portion------------------ */

.big_box_bottom {
  height: calc(98.9vh*0.8);
  width: 99.5vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* -----------------SECTION 4------------------ */

#MCB4 {
  height: calc(98.9vh*0.8);
  position: absolute;
  border-right: 0px solid black;
  border-top: 0px solid black;
  left: 0px;
  width: calc(99.5vw*0.17);
}

/* -----------------SECTION 5------------------ */

#MCB5 {
  height: calc(98.9vh*0.8);
  position: absolute;
  right: 0px;
  border-top: 0px solid black;
  width: calc(99.5vw*0.83);
}
